{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Projects" | trans }}
{% endblock %}

{% block buttons_section %}
    {% if is_granted('ROLE_SCRUM_MASTER') or is_granted('ROLE_PRODUCT_OWNER') %}
        <div class="btn-group">
            <a title="" data-original-title="{{ "New Project" | trans }}" href="{{ path('project_creation') }}" class="btn btn-large tip-bottom">
                <i class="fa fa-plus"></i> 
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Projects':''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
    {% for project in projects if not is_granted('ROLE_PRODUCT_OWNER') or ( project.owner is not empty and is_granted('ROLE_PRODUCT_OWNER') and app.user.isEqualTo(project.owner)) %}
        <div class="col-xs-12 col-sm-6 col-md-4">
        	<div class="widget-box">
        		<div class="widget-title">
        			<span class="icon">
    				    <i class="fa fa-suitcase"></i>
        			</span>
        			<div>
            			<h5>{{ project.title }}</h5>
        			</div>
        			<div class="buttons">
        			    <a title="See" class="btn" href="{{ path('show_normal_project', { 'id': project.id }) }}"><i class="fa fa-eye"></i></a>
                        {% if is_granted('ROLE_SCRUM_MASTER') or ( project.owner is not empty and is_granted('ROLE_PRODUCT_OWNER') and app.user.isEqualTo(project.owner)) %}
                            <a title="Edit" class="btn" href="{{ path('project_edit', { 'id': project.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a title="Delete" class="btn" href="{{ path('delete_normal_project', { 'id': project.id }) }}"><i class="fa fa-trash-o"></i></a>
                        {% endif %}
                    </div>
        		</div>
        		<div class="widget-content">
        			<div class="row">
        				<div class="col-xs-12 project-index">
        				    <div class="knob-wrap">
        				        {% if project.backlogs.count > 0 %}
                                    {% set percentaje = ((project.getFinishedBacklogTasks|length) /project.backlogs.count) *100 %}
                                {% else %}
                                     {% set percentaje = 0 %}
                                {% endif %}
                                <input class="knob" disabled="disabled" data-displayInput=false data-thickness=".3" data-height="50" data-width="50" data-readOnly=true value="{{ percentaje }}">
                            </div>
                            <p class="description">{{ project.description }}</h5>
                         </div>
    				 </div>
                     <div class="row">
        				<div class="col-xs-12">       
                            <ul class="site-stats">
                                <li class="divider"></li>
                                <li><div class="cc"><i class="fa fa-calendar-o"></i><small>{{ project.created |date }}</small></div></li>
        					    <li><div class="cc"><i class="fa fa-tasks"></i> <strong>{{ project.backlogs.count }}</strong><small>{{ "Number of tasks" }}</small></div></li>
        				        <li><div class="cc"><i class="fa fa-check"></i> <strong>{{ project.getFinishedBacklogTasks|length }}</strong><small>{{ "Finished tasks" }}</small></div></li>
        				    </ul>
        				</div>
    				</div>
				</div>
			</div>
		</div>
	{% else %}
        <div class="alert alert-info mt">
            <strong>{{"Information!" | trans }}</strong>
            {{"No projects created" | trans }}
        </div>
    {% endfor %}
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript" type="text/javascript" src="{{ asset('bundles/frontend/js/jquery.knob.js')}}"></script>
    <script>$(function(){$(".knob").knob()});</script>
{% endblock %}