{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Projects" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Projects':''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">
        {% if is_granted('ROLE_SCRUM_MASTER') or is_granted('ROLE_PRODUCT_OWNER') %}
            <a href="{{ path('project_creation') }}" class="btn btn-primary btn-m">
                <i class="fa fa-plus"></i> {{ "New Project" | trans }}
            </a>
        {% endif %}
    </div>

    {% if projects | length > 0 %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-align-justify"></i>
            </span>
            <h5>{{ "Lists of projects"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ "Title" | trans }}</th>
                    <th>{{ "Description" | trans }}</th>
                    <th>{{ "Created" | trans }}</th>
                    <th>{{ "Progression" | trans }}
                    <th>{{ "Actions" | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{% if project.title is defined %}{{ project.title }}{% endif %}</td>
                        <td>{% if project.description is defined %}
                                {{ project.description }}
                            {% endif %}
                        </td>
                        <td>{% if project.created is defined %}{{ project.created |date('d/m/Y') }}{% endif %}</td>
                        <td>
                            {% if project.backlogs.count > 0 %}
                                {% set percentaje = ((project.getFinishedBacklogTasks|length) /project.backlogs.count) *100 %}
                            {% else %}
                                 {% set percentaje = 0 %}
                            {% endif %}
                            <div class="progress progress-sm">
                            <div class="progress-bar" style="width: {{ percentaje }}%;"></div>
                            </div>
                        </td>
                        <td class="taskOptions">
                            <a title="See" href="{{ path('show_normal_project', { 'id': project.id }) }}"><i class="fa fa-eye"></i></a>
                            {% if is_granted('ROLE_SCRUM_MASTER') or ( project.owner is not empty and is_granted('ROLE_PRODUCT_OWNER') and app.user.isEqualTo(project.owner)) %}
                                <a title="Edit" href="{{ path('project_edit', { 'id': project.id }) }}"><i class="fa fa-pencil"></i></a>
                                <a title="Delete" href="{{ path('delete_normal_project', { 'id': project.id }) }}"><i class="fa fa-trash-o"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Information!" | trans }}</strong>
            {{"No projects created" | trans }}
        </div>
    {% endif %}
{% endblock %}