{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Projects" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Projects':path('projects_list'), (project.title): ''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

        <div class="row">
            <a title="See Sprints" href="{{ path('sprints_list', { 'project': project.id }) }}" class="btn btn-info btn-s">
                <i class="fa fa-eye"></i> {{"See Sprints" | trans}}
            </a>
            <a title="Edit" href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-primary btn-s">
                <i class="fa fa-pencil"></i> {{"Edit" | trans}}
            </a>
            <a title="Delete" href="{{ path('delete_normal_project', { 'id': project.id }) }}" class="btn btn-danger btn-s">
                <i class="fa fa-trash-o"></i> {{"Delete" | trans}}
            </a>

        </div>

        <div class="widget-box">
            <div class="widget-title">
            <span class="icon">
                <i class="fa fa-th-list"></i>
            </span>
                <h5>{{ "Project"|trans }}</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>{{ "Title"|trans }}</td>
                            <td>{% if project.title is defined %}{{ project.title }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "Descripción"|trans }}</td>
                            <td>
                                {{ project.description }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "Creación"|trans }}</td>
                            <td>{{ project.created |date('d/m/Y') }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
        {% if is_granted('ROLE_SCRUM_MASTER') or (is_granted('ROLE_PRODUCT_OWNER') and app.user.isEqualTo(project.owner)) %}
        <div class="row">
            <a title="Add task" href="{{ path('create_backlog', { 'id': project.id }) }}" class="btn btn-primary btn-s">
                <i class="fa fa-pencil"></i> {{"Add task to product backlog" | trans}}
            </a>
        </div>
        {% endif %}
        
        {% if project.backlogs | length > 0 %}
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-align-justify"></i>
                    </span>
                    <h5>{{ "Product Backlog"|trans }}</h5>
                    <ul class="nav nav-tabs pull-right steps">
                        <li class="active" data-target="#todo">
                            <a data-toggle="tab" href="#inbox-tab">
                                <span class="text"> {{ "Task todo" | trans }}</span>
                            </a>
                        </li>
                        <li data-target="#done">
                            <a data-toggle="tab" href="#inbox-tab">
                                <span class="text">
                                    {{"Task done" | trans }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="widget-content nopadding" id="backlog-tasks">
                    {% include "ProjectBundle:Backlog:backlog_table.html.twig" %}
                </div>
            </div>
        {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No product Backlog created" | trans }}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function(){
    	//Mostramos/ocultamos las capas del formulario
        $('.steps li').click(function() {

            var target_current = $(this).attr('data-target');
            $('.steps li').each(function(key, element){
                var target = $(element).attr('data-target');
                if(target_current == target){
                    $(target).show();
                    $(element).addClass('active');
                }else{
                    $(target).hide();
                    $(element).removeClass('active');
                }
            });

            $("body").on('click', '.finalize', function(event){
            	event.preventDefault();
        	    $.get($(this).attr('href'), function(response){
                    $('#backlog-tasks').html(response);
                });
            });

            $("body").on('click', '.finalize-issue', function(event){
            	event.preventDefault();
            	var that=$(this);
        	    $.get($(this).attr('href'), function(response){
            	    if(response.ok){
            	    	var id=that.attr('id');
            	    	that.html('');
            	    	$('#issue-state-'+id).html("<i class='fa fa-check'></i>");
            	    }
                });
            });

        });

        $('.show-issue').click(function(){
        	var target = $(this).attr('data-target');
        	$(target).slideToggle();
        	$(this).find('.fa-plus').toggle();
        	$(this).find('.fa-minus').toggle();
        });
    });
</script>    
{% endblock %}