{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Compañias" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Compañias':''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">
        <a href="{{ path('new_company') }}" class="btn btn-primary btn-m">
            <i class="fa fa-plus"></i> {{ "Nuevo" | trans }}
        </a>
    </div>

    {% if companies | length > 0 %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-align-justify"></i>
            </span>
            <h5>{{ "Listado de registros"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ "Nombre"|trans }}</th>
                    <th>{{ "creado"|trans }}</th>
                    <th>{{ "Producto"|trans }}</th>
                    <th>{{ "Acciones"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{% if company.name is defined %}{{ company.name }}{% endif %}</td>
                        <td>{% if company.created is defined %}{{ company.created |date('d/m/Y') }}{% endif %}</td>
                        <td class="taskOptions">
                            <a title="Ver" href="{{ path('show_company', { 'id': company.id }) }}"><i class="fa fa-eye"></i></a>
                            <a title="Modificar" href="{{ path('edit_company', { 'id': company.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a title="Borrar" class="delete" href="{{ path('delete_company', { 'id': company.id }) }}"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}