{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Compañia" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Compañias': path('companies_list'), (company.name): ''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">
        <a title="Modificar" href="{{ path('edit_company', { 'id': company.id }) }}" class="btn btn-primary btn-s">
            <i class="fa fa-pencil"></i> {{"Editar" | trans}}
        </a>
        <a title="Borrar" href="{{ path('delete_company', { 'id': company.id }) }}" class="btn btn-danger btn-s delete">
            <i class="fa fa-trash-o"></i> {{"Borrar" | trans}}
        </a>
    </div>

    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-th-list"></i>
            </span>
            <h5>{{ "Datos del registro"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr>
                        <td>{{ "Nombre"|trans }}</td>
                        <td>{% if company.name is defined %}{{ company.name }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{{ "Creación"|trans }}</td>
                        <td>{% if company.created is defined %}{{ company.created|date('d/m/Y') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}