{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Sprint" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Sprints':path('sprints_list'), (sprint.title): ''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set params = {'title':'Introduce time spent on this task', 'text':'<div class="hours"></div>', 'btn-close':false} %}
    {{ makeModal('modalHours', params) }}

    {% if sprint %}

        <div class="widget-box">
            <div class="widget-title">
            <span class="icon">
                <i class="fa fa-th-list"></i>
            </span>
                <h5>{{ "Sprint: " ~ sprint.title|trans }}</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <td style="width:20%;">{{ "Description"|trans }}</td>
                            <td>{% if sprint.description is defined %}{{ sprint.description }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">{{ "From - To"|trans }}</td>
                            <td>{% if sprint.dateFrom is not empty %}{{ sprint.dateFrom |date('d/m/Y') }} - {{ sprint.dateTo |date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">{{ "Hours planified"|trans }}</td>
                            <td>{% if sprint.hoursPlanified is not empty %}{{ sprint.hoursPlanified }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">{{ "Focus factor"|trans }}</td>
                            <td>{% if sprint.focus is not empty %}{{ sprint.focus }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">{{ "Hours spent"|trans }}</td>
                            <td>{{ sprint.getSpentHours() }}</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">{{ "Finished task Hours" |trans }}</td>
                            <td>{{ sprint.getHoursDone()}}</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">{{ "Real focus factor"|trans }}</td>
                            <td>{{ ((sprint.getHoursDone() / sprint.getSpentHours()) * 100) | round(0, 'floor') }}</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">{{ "Hours spent in urgencies"|trans }}</td>
                            <td>{{ sprint.getUrgenciesSpentHours() }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="widget-box hidden-xs">
            <div class="widget-title">
                <span class="icon">
                    <i class="fa fa-align-justify"></i>
                </span>
                <h5>{{ "Charts"|trans }}</h5>
                <ul class="nav nav-tabs pull-right steps">
                    <li class="active" data-target="#bars-general-container">
                        <a data-toggle="tab" href="#inbox-tab">
                            <span class="text">Whole team</span>
                        </a>
                    </li>
                    {% for key in charts|keys %}
                        <li data-target="#bars-user-container-{{ key }}">
                            <a data-toggle="tab" href="#inbox-tab">
                                <span class="text"> {{ users[key].name ~ " " ~ users[key].lastName }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="widget-content nopadding" id="sprint-tasks">
                <div class="row" id="bars-general-container">
                    <h5 class="col-md-12">All team focus factor</h5>
                    <div class="bars col-md-12" id="bars-general" style="padding: 0px; position: relative;"></div>
                </div>
                {% for key in charts|keys %}
                    <div class="row hidden-charts" id="bars-user-container-{{ key }}">
                        <h5 class="col-md-12">{{ users[key].name ~ " " ~ users[key].lastName }}</h5>
                        <div class="bars col-md-12" id="bars-user-{{ key }}" style="padding: 0px; position: relative;"></div>
                    </div>
                {% endfor %}   
            </div>
        </div>         

        {% if sprint.tasks | length > 0 %}
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-align-justify"></i>
                    </span>
                    <h5>{{ "Tasks"|trans }}</h5>
                    <ul class="nav nav-tabs pull-right steps">
                        <li class="active" data-target="#done">
                            <a data-toggle="tab" href="#inbox-tab">
                                <span class="text"> {{ "DONE" | trans }}</span>
                            </a>
                        </li>
                        <li data-target="#undone">
                            <a data-toggle="tab" href="#inbox-tab">
                                <span class="text"> {{ "UNDONE" | trans }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="widget-content nopadding" id="sprint-tasks">
                    <div class="row" id="done">
                        {% for task in sprint.getTaskDone() %}
                            {% include "TaskBundle:Task:taskBox.html.twig" with {task:task, ended: false} %}
                        {% else %}
                            <div class="alert alert-info mt">
                                <strong>{{"Information!" | trans }}</strong>
                                {{"There is no tasks on this state" | trans }}
                            </div>    
                        {% endfor %}
                    </div>
                    <div class="row" id="undone" style="display: none;">
                        {% for task in sprint.tasks if task.state == "UNDONE" %}
                            {% include "TaskBundle:Task:taskBox.html.twig" with {task:task, ended: false} %}
                        {% else %}
                            <div class="alert alert-info mt">
                                <strong>{{"Information!" | trans }}</strong>
                                {{"There is no tasks on this state" | trans }}
                            </div>    
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info mt">
                <strong>{{"Information!" | trans }}</strong>
                {{"No task where created for this sprint" | trans }}
            </div>
        {% endif %}
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="fa fa-align-justify"></i>
                </span>
                <h5>{{ "Urgencies"|trans }}</h5>
            </div>
            <div class="widget-content nopadding" id="sprint-urgencies">
                <div class="row" id="urgencies-done">
                {% for urgency in sprint.urgencies if urgency.state == "DONE" %}
                    {% include "TaskBundle:Urgency:urgencyBox.html.twig" with {urgency:urgency, ended: false} %}
                {% else %}
                    <div class="alert alert-info mt">
                        <strong>{{"Information!" | trans }}</strong>
                        {{"No urgencies where finished during this sprint" | trans }}
                    </div>    
                {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Information!" | trans }}</strong>
            {{"No sprint found" | trans }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.categories.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    	$('.steps li').click(function() {

            var target_current = $(this).attr('data-target');
            $('.steps li').each(function(key, element){
                var target = $(element).attr('data-target');
                if(target_current == target){
                    $(target).show();
                    $(element).addClass('active');
                }else{
                    $(target).hide();
                    $(element).removeClass('active');
                }
            });
            
        });

    	var data = [{% for subkey, value in generalChart %}["{{ subkey }}", {{ value }}]{% if not loop.last %},{% endif %}{% endfor %}];

    	$.plot("#bars-general", [data], {
    		series: {
    			bars: {
    				show: true,
    				barWidth: 0.5,
    				align: "center"
    			}
    		},
    		xaxis: {
    			mode: "categories",
    			tickLength: 10
    		}
    	});

    	{% for key, chart in charts %}
            var data = [{% for subkey, value in chart %}["{{ subkey }}", {{ value }}]{% if not loop.last %},{% endif %}{% endfor %}];

        	$.plot("#bars-user-{{ key }}", [data], {
        		series: {
        			bars: {
        				show: true,
        				barWidth: 0.5,
        				align: "center"
        			}
        		},
        		xaxis: {
        			mode: "categories",
        			tickLength: 10
        		}
        	});
    	{% endfor %}

    	$.each($('.hidden-charts'), function(index, value){
            $(value).hide();
        });
    });
</script>    
{% endblock %}