{% extends "FrontendBundle:Layouts:2column.html.twig" %}
{%  set edit = "Edición del registro"|trans %}
{%  set create = "Creación de nuevo registro"|trans %}
{% block stylesheets %}
   {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/datepicker.css') }}">
{% endblock %}
{% block title_section %}
    {% if edition is defined %}
        {{ edit }}
    {% else %}
        {{ create }}
    {% endif %}

{% endblock %}

{% block breadcrumb %}
    {% if edition is defined %}
        {% set crumbs = {'Sprints': path('sprints_list'),(edit):''} %}
    {% else %}
        {% set crumbs = {'Sprints': path('sprints_list'),(create):''} %}
    {% endif %}

    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-th"></i>
            </span>
            {% if edition is defined %}
                <h5>{{ edit }}</h5>
            {% else %}
                <h5>{{ create }}</h5>
            {% endif %}
        </div>
        <div class="widget-content nopadding">
            <form class="form-horizontal" id="form-create-item" role="form"
                  action="{{ path('sprint_creation_first') }}" method="post" xmlns="http://www.w3.org/1999/html">
                
                <div class="form-group">
                    <label for="sprint_fromDate" class="col-sm-3 control-label"><span class="red">*</span>{{ "From"|trans }}</label>
                    <div class="col-sm-4 input-group">
                        {{ form_widget(form.fromDate, { 'attr':{ 'class':'form-control datepicker-from', 'autocomplete':'off'} }) }}
                        <span class="input-group-addon input-group-addon-click">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sprint_toDate" class="col-sm-3 control-label"><span class="red">*</span>{{ "To"|trans }}</label>
                    <div class="col-sm-4 input-group">
                        {{ form_widget(form.toDate, { 'attr':{ 'class':'form-control datepicker-to','autocomplete':'off'} }) }}
                        <span class="input-group-addon input-group-addon-click">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label id="label_company" for="sprint_company" class="col-sm-3 control-label user-active"><span class="red">*</span> {{ "Available hours" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.hoursAvailable, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                
                <div class="form-group">
                    <label id="label_hours" for="sprint_hours" class="col-sm-3 control-label user-active"><span class="red">*</span> {{ "Focus factor" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.focus, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                
                {{ form_rest(form) }}
                <div class="form-actions">
                    <button id="register" type="submit" class="btn btn-large btn-primary">
                        {{ "next step"|trans }}
                    </button>
                    <img style="display:none;" src="{{ asset('bundles/frontend/img/spinner.gif') }}">
                    <div class="help-block mt10">
                        <span class="red">*</span> {{"Mandatory fields" | trans }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function() {
        	$('.datepicker-from').datepicker({
        	    format: 'dd/mm/yyyy'
        	});
        	$('.datepicker-to').datepicker({
        	    format: 'dd/mm/yyyy',
        	    startDate: '+1d'
        	});
   
            $('span.input-group-addon-click').click(function(){
               $(this).prev('input').focus();
            });
        });
    </script>
{% endblock %}