{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Sprints" | trans }}
{% endblock %}
{% block buttons_section %}
    {% if is_granted('ROLE_SCRUM_MASTER') %}
        <div class="btn-group">
            <a title="" data-original-title="{{ "New Sprint" | trans }}" href="{{ path('sprint_creation_first') }}" class="btn btn-large tip-bottom"">
                <i class="fa fa-plus"></i> 
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Sprints':''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
        
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                    <h5>{{ "Sprints search"|trans }}</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="{{ path('sprints_list') }}" method="get" class="form-inline" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form_widget(form.name, { 'attr':{ 'class':'form-control', 'placeholder':"Name"} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 input-group">
                                {{ form_widget(form.project, { 'attr':{ 'class':'form-control', 'placeholder':"Project"} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="sprint_search_active" style="margin-right: 10px;">Active sprints</label>
                                {{ form_widget(form.active, { 'attr': { 'class': 'form-control'} }) }}
                            </div>
                        </div>
        
                        {{ form_rest(form) }}
                        <button id="search" type="submit" class="btn btn-large btn-primary">
                            {{ "Search"|trans }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    {% set inside = false %}
    {% for sprint in sprints if not is_granted('ROLE_PRODUCT_OWNER') or ( sprint.project.owner is not empty and is_granted('ROLE_PRODUCT_OWNER') and app.user.isEqualTo(sprint.project.owner)) %}
        {% set inside = true %}
        <div class="col-xs-12 col-sm-6 col-md-4">
        	<div class="widget-box">
        		<div class="widget-title">
        			<span class="icon">
        			    {% if sprint.finalized is empty %}
        				    <i class="fa fa-play"></i>
    				    {% else %}
    				        <i class="fa fa-stop"></i>
        				{% endif %}    
        			</span>
        			<div>
            			<h5>{{ sprint.title }}</h5>
        			</div>
        			<div class="buttons">
                        {% if sprint.finalized is empty %}
                            <a title="See" class="btn" href="{{ path('show_normal_sprint', { 'id': sprint.id }) }}"><i class="fa fa-eye"></i></a>
                        {% else %}
                            <a title="Finalize" class="btn" href="{{ path('sprint_normal_finalize', { 'id': sprint.id }) }}"><i class="fa fa-eye"></i></a>
                        {% endif %}
                        {% if is_granted('ROLE_SCRUM_MASTER') %}
                            {% if sprint.finalized is empty %}
                                <a title="Edit" class="btn" href="{{ path('edit_normal_sprint', { 'id': sprint.id }) }}"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                            <a title="Delete" class="btn" href="{{ path('delete_normal_sprint', { 'id': sprint.id }) }}"><i class="fa fa-trash-o"></i></a>
                        {% endif %}
                    </div>
        		</div>
        		<div class="widget-content">
        			<div class="row">
        				<div class="col-xs-12">
        					<ul class="site-stats">
        					    <li><div class="cc"><i class="fa fa-briefcase"></i> <strong>{{ sprint.project.title }}</strong>
        					    <li><div class="cc"><i class="fa fa-calendar-o"></i><small>{{ sprint.dateFrom |date('d/m/Y') }} - {{ sprint.dateTo |date('d/m/Y') }}</small></div></li>
                                {% if sprint.finalized is empty %}
            						<li><div class="cc"><i class="fa fa-tasks"></i> <strong>{{ sprint.tasks.count() }}</strong> <small>Tasks planified</small></div></li>
            						<li class="divider"></li>
            						<li><div class="cc"><i class="fa fa-calendar"></i> <strong>{{ sprint.hoursPlanified }}</strong> <small>Planified Hours</small></div></li>
            						<li><div class="cc"><i class="fa fa-clock-o"></i> <strong>{{ sprint.getSpentHours() }}</strong> <small>Spent hours</small></div></li>
            						<li><div class="cc"><i class="fa fa-fire"></i> <strong>{{ sprint.getHoursUndone() }}</strong> <small>Hours left</small></div></li>
        					    {% else %}
        					        <li><div class="cc"><i class="fa fa-stop"></i> <strong>Finalized</strong></div></li>
            						<li class="divider"></li>
            						<li><div class="cc"><i class="fa fa-calendar"></i> <strong>{{ sprint.getHoursDone()}}</strong> <small>Finished task Hours</small></div></li>
            						<li><div class="cc"><i class="fa fa-clock-o"></i> <strong>{{ sprint.getSpentHours() }}</strong> <small>Spent hours</small></div></li>
            						<li><div class="cc"><i class="fa fa-bolt"></i> <strong>{%if sprint.getSpentHours() > 0%}{{ ((sprint.getHoursDone() / sprint.getSpentHours()) * 100) | round(0, 'floor') }}{% else %}0{% endif %}</strong> <small>Final focus</small></div></li>
                                {% endif %}
        					</ul>
        				</div>
        			</div>							
        		</div>
        	</div>
    	</div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Information!" | trans }}</strong>
            {{"No sprints created" | trans }}
        </div>
    {% endfor %}
    </div>
    {% if paginator is defined and paginator is not null and (sprints | length > 0) and inside %}
        <div class="row">
            <div class="pagination alternate">
                <ul>
                    {% set direccion = 'sprints_list' %}
                    {% set routeParams =  app.request.query.all %}
                    {% include 'FrontendBundle:Commons:paginator.html.twig' %}
                </ul>
            </div>
        </div>
    {% endif %}
    
{% endblock %}