{% extends "FrontendBundle:Layouts:login.html.twig" %}

{% block title %}
    {{ "Aún te queda un paso más" | trans }}
{% endblock %}

{% block sectionclass %}page{% endblock %}

{% block content %}
    <div id="loginbox">
        <div class="row">
            <div class="col-md-12">
                <div class="line-block">
                    <h3 class="title-block">{{ "Aún te queda un paso más" | trans }}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="content">
                        <p>{{ "Te hemos enviado un email a "|trans }} <strong>{{ email }}</strong> </p>
                        <p><strong>{{ "Para terminar con el proceso de recuperación de contraseña deberás hacer click en el enlace que te hemos enviado."|trans }}</strong></p>
                        <p>Recuerda <strong class="red">REVISAR TU BANDEJA DE SPAM</strong> o correo no deseado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}