{% extends "FrontendBundle:Layouts:login.html.twig" %}

{% block title %}
    {{ "There is one more step." | trans }}
{% endblock %}

{% block sectionclass %}page{% endblock %}

{% block content %}
    <div id="loginbox">
        <div class="row">
            <div class="col-md-12">
                <div class="line-block">
                    <h3 class="title-block">{{ "There is one more step." | trans }}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="content">
                        <p>{{ "We have send you an email to "|trans }} <strong>{{ email }}</strong> </p>
                        <p><strong>{{ "To finish the proccess, you should go to your email address and follow the link."|trans }}</strong></p>
                        <p>Remember <strong class="red">CHECK YOUR SPAM</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}