{% extends "FrontendBundle:Layouts:login.html.twig" %}

{% block error %}
    {% if form_errors(formPass) is not empty %}
        <div class="form-group">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ "Error" | trans }}:</strong> {{ form_errors(formPass) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="loginbox">
        {% if user is not empty %}
            <form  action="{{ path('change_password', {salt: saltform}) }}" name="acceso" method="post" {{ form_enctype(form) }}>
                <h3 class="title">{{ "New password" |trans }}</h3>
                {% set nPassword = "Contraseña" | trans %}
                <div class="form-actions">
                    {{ form_row(form.password,{ 'attr': { 'class':'form-control' }}) }}
                </div>
                {{ form_widget(form.salt,{ 'attr': { 'value' : saltform } }) }}
                {{ form_rest(form) }}
                <div class="form-actions clearfix">
                    <input id="register" type="submit" class="btn btn-block btn-primary btn-default" value="{{ "Cambiar" | trans }}"/>
                    <img style="display:none;" class="ml15 loader pull-lef" src="{{ asset('bundles/frontend/img/ajax-loader.gif') }}">
                </div>
            </form>
        {% else %}
            <div class="alert alert-error">
                <strong>{{ "Error" | trans }}:</strong>
                {{ "There is no user in EasySCRUM with the email you gave us." | trans }}
            </div>
        {% endif %}
    </div>
{% endblock %}