{% extends "FrontendBundle:Layouts:login.html.twig" %}
{% block title %} {{ "Recuperación de contraseña"|trans }} {% endblock %}

{% block description %}{{ "Recuperación de contraseña de usuario perteneciente a DentalHorse.com"|trans }}{% endblock %}

{% block sectionclass %}page{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/frontend/js/jquery.validate.min.js') }}"></script>
    <script>
        /** VALIDATION **/
        $(function(){
        });
    </script>
{% endblock %}

{% block error %}
    {% if form_errors(formPass) is not empty %}
        <div class="form-group">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ "Error" | trans }}:</strong> {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="loginbox">
        <form id="recover_password" novalidate action="{{ path('recover_password') }}" method="post" {{ form_enctype(formPass) }}>
            <h3 class="title">{{ "Recuperar contraseña" |trans }}</h3>
            <p style="margin-bottom:60px;">{{ "Te enviaremos un email con las instrucciones necesarias para recuperar tu contraseña" |trans }}</p>
            {% set textEmail = "Introduzca su e-mail" | trans %}
            <div class="input-group input-sm">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                {{ form_widget(formPass.email,{ 'attr': { 'placeholder':textEmail, 'class':'form-control'}}) }}
            </div>
            {{ form_rest(formPass)}}
            <div class="form-actions clearfix">
                <input id="register" type="submit" class="btn btn-block btn-primary btn-default" value="{{ "Enviar email" | trans }}"/>
                <img style="display:none;" class="ml15 loader pull-lef" src="{{ asset('bundles/frontend/img/ajax-loader.gif') }}">
            </div>
        </form>
    </div>
{% endblock %}