{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Listado de usuarios" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Listado de usuarios administradores':'#'} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">
        <a href="{{ path('new_user') }}" class="btn btn-info btn-m">
            <i class="fa fa-plus"></i> {{ "Nuevo administrador" | trans }}
        </a>
    </div>

    {% if users | length > 0 %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-align-justify"></i>
            </span>
            <h5>{{ "Listado de usuarios"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ "Nombre"|trans }}</th>
                    <th>{{ "Apellido"|trans }}</th>
                    <th>{{ "Email"|trans }}</th>
                    <th>{{ "creado"|trans }}</th>
                    <th>{{ "Acciones"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{% if user.name is defined %}{{ user.name }}{% endif %}</td>
                        <td>{% if user.last_name is defined %}{{ user.last_name }}{% endif %}</td>
                        <td>{% if user.email is defined %}{{ user.email }}{% endif %}</td>
                        <td>{% if user.created is defined %}{{ user.created }}{% endif %}</td>
                        <td class="taskOptions">
                            <a title="Ver" href="{{ path('show_user', { 'id': user.id }) }}"><i class="fa fa-eye"></i></a>
                            <a title="Modificar" href="{{ path('edit_user', { 'id': user.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a title="Borrar" href="{{ path('delete_user', { 'id': user.id }) }}"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}