{% extends "FrontendBundle:Layouts:2column.html.twig" %}
{%  set edit = "Edit task"|trans %}
{%  set create = "Creation of new task"|trans %}

{% block title_section %}
    {% if edition is defined %}
        {{ edit }}
    {% else %}
        {{ create }}
    {% endif %}

{% endblock %}

{% block breadcrumb %}
    {% if edition is defined %}
        {% set crumbs = {'Sprints':path('sprints_list'), 'planification':path('sprint_planification', {id:task.sprint.id}), (task.title): ''} %}
    {% else %}
        {% set crumbs = {'Sprints':path('sprints_list'), 'planification':path('sprint_planification', {id:sprint}), 'create':''} %}
    {% endif %}

    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-pencil"></i>
            </span>
            {% if edition is defined %}
                <h5>{{ edit }}</h5>
            {% else %}
                <h5>{{ create }}</h5>
            {% endif %}
        </div>
        <div class="widget-content nopadding">
            <form class="form-horizontal" id="form-create-item" role="form"
                  action="{% if edition is defined %}{{ path('edit_normal_task',{'id':task.id}) }} {% else %} {{ path('new_normal_task', {'id':sprint}) }} {% endif %}"
                  method="post" {% if edition is defined %}{{ form_enctype(form) }} {% endif %} xmlns="http://www.w3.org/1999/html">
                
                <div class="form-group">
                    <label id="label_name" for="task_name" class="col-sm-3 control-label log-active is-public"><span class="red">*</span> {{ "Title" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.title, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                
                <div class="form-group">
                    <label id="label_description" for="task_description" class="col-sm-3 control-label user-active">{{ "Description" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.description, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                
                <div class="form-group">
                    <label id="label_priority" for="task_priority" class="col-sm-3 control-label user-active">{{ "Priority" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.priority, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                
                <div class="form-group">
                    <label id="label_hours" for="task_hours" class="col-sm-3 control-label user-active">{{ "Hours" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.hours, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                
                <div class="form-group">
                    <label id="task_story_label" for="task_story" class="col-sm-3 control-label user-active">{{ "User story" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.story, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                
                <div class="form-group" id="points" style="display:none;">
                    <label id="label_hours" for="task_points" class="col-sm-3 control-label user-active">{{ "Story points" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.points, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>

                {{ form_rest(form) }}
                <div class="form-actions">
                    <button id="register" type="submit" class="btn btn-large btn-primary">
                        {{ "Save"|trans }}
                    </button>
                    <img style="display:none;" src="{{ asset('bundles/frontend/img/spinner.gif') }}">
                    <div class="help-block mt10">
                        <span class="red">*</span> {{"Mandatory fields" | trans }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/jquery.validate.js') }}"></script>
    <script type="text/javascript">
    
        $(document).ready(function(){
        	var validator;
            $("#task_story").change(function(e){
                if($(this).val() !=  "") {
                    var url = "{{ path('get_story_points') }}/"+$(this).val();
                    $.get(url, function(result){
                    	if (typeof result.points !== "undefined") {
                    		$("#points").show();
                        	validator = $('#form-create-item').validate({
                                rules: {
                                	'task[points]': {
                                        digits: true,
                                        max: result.points
                                    }
                                },
                                errorElement: 'span',
                                messages: {
                                    'task[points]': '{{"Must be a number not over story points defined: "|trans}}' + result.points
                                }
                            });
                    	}
                    });
                } else {
                	$("#points").val("");
                	$("#points").hide();
                	validator = null;
                }
            });
        });
        
</script>
{% endblock %}