{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Tareas" | trans }}
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/datepicker.css') }}">
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Tareas':''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-search"></i>
            </span>
            <h5>{{ "Task search"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <form action="{{ path('task_facturation') }}" method="get" class="form-inline" role="form">
                <div class="form-group">
                    <div class="col-sm-12 input-group">
                        {{ form_widget(form.from, { 'attr':{ 'class':'form-control datepicker-from', 'autocomplete':'off', 'placeholder':"From"} }) }}
                        <span class="input-group-addon input-group-addon-click">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 input-group">
                        {{ form_widget(form.to, { 'attr':{ 'class':'form-control datepicker-to','autocomplete':'off', 'placeholder':"To"} }) }}
                        <span class="input-group-addon input-group-addon-click">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_widget(form.project, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>

                {{ form_rest(form) }}
                <button id="search" type="submit" class="btn btn-large btn-primary">
                    {{ "Calcule"|trans }}
                </button>
            </form>
        </div>
    </div>
    {% if noSearch is not defined %}
        <div class="row">
            <div class="col-xs-12 center" style="text-align: center;">
                <ul class="stat-boxes">
                    <li class="popover-visits" data-original-title="" title="">
                        <div class="left sparkline_bar_blue">
                            <span>
                                <i class="fa fa-tasks"></i>
                            </span>
                            <i class="fa fa-double-angle-up"></i>
                        </div>
                        <div class="right">
                            <strong>{{ totals.count }}</strong>
                            Tasks
                        </div>
                    </li>
                    <li class="popover-visits" data-original-title="" title="">
                        <div class="left sparkline_bar_neutral">
                            <span>
                                <i class="fa fa-clock-o"></i>
                            </span>
                            <i class="fa fa-double-angle-up"></i>
                        </div>
                        <div class="right">
                            <strong>{{ totals.hours }}</strong>
                            Hours
                        </div>
                    </li>
                    <li class="popover-visits" data-original-title="" title="">
                        <div class="left sparkline_bar_good">
                            <span>
                                <i class="fa fa-money"></i>
                            </span>
                            <i class="fa fa-double-angle-up"></i>
                        </div>
                        <div class="right">
                            <strong>{{ totals.hours * company.pricePerHour }}€</strong>
                            Total
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
        
        {% if tasks | length > 0 %}
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="fa fa-align-justify"></i>
                </span>
                <h5>{{ "Listado de entradas"|trans }}</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th style="width: 30%;">{{ "Name"|trans }}</th>
                        <th style="width: 20%;">{{ "Project"|trans }}</th>
                        <th style="width: 20%;">{{ "Sprint"|trans }}</th>
                        <th style="width: 10%;">{{ "Last Update"|trans }}</th>
                        <th style="width: 5%;">{{ "Hours estimated"|trans }}</th>
                        <th style="width: 5%;">{{ "Hours spent"|trans }}</th>
                        <th style="width: 5%;">{{ "€" }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            {% if task.deleted is not defined or task.deleted is null %}
                                <tr>
                                    <td>{% if task.title is defined %}{{ task.title }}{% endif %}</td>
                                    <td>{% if task.sprint is defined and task.sprint.project is not empty %}{{ task.sprint.project }}{% endif %}</td>
                                    <td>{% if task.sprint is defined %}
                                            <a title="{{ "See task"|trans }}" href="{{ path('show_normal_sprint',{'id':task.sprint.id}) }}">{% if task.sprint.title is defined %}{{ task.sprint.title }}{% endif %}</a>
                                        {% endif %}
                                    </td>
                                    <td>{% if task.updated is defined %}{{ task.updated |date('d/m/Y') }}{% endif %}</td>
                                    <td>
                                        {{ task.hours }}
                                    </td>
                                    <td>
                                        {{ task.getHoursSpent }}
                                    </td>
                                    <td>
                                        {% if company.pricePerHour is not empty %}
                                            {{ task.getHoursSpent * company.pricePerHour }}€
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            {% if paginator is defined and paginator is not null %}
                <div class="pagination alternate">
                    <ul>
                        {% set direccion = 'task_facturation' %}
                        {% set routeParams =  app.request.query.all %}
                        {% include 'FrontendBundle:Commons:paginator.html.twig' %}
                    </ul>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info mt">
                <strong>{{"Information!" | trans }}</strong>
                {{"No task has been found" | trans }}
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Information!" | trans }}</strong>
            {{"Make a search to display the results" | trans }}
        </div>
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function() {
            if($('#search_task_project').val()){
            	$("#search_task_sprint").prop('disabled', false);
            } else {
            	$("#search_task_sprint").prop('disabled', true);
            }

            $('#search_task_project').change(function(){
            	if($('#search_task_project').val()){
                	$("#search_task_sprint").prop('disabled', false);
                } else {
                	$("#search_task_sprint").prop('disabled', true);
                }
            });
            
        	$('.datepicker-from').datepicker({
        	    format: 'dd/mm/yyyy'
        	});
        	$('.datepicker-to').datepicker({
        	    format: 'dd/mm/yyyy',
        	    startDate: '+1d'
        	});
   
            $('span.input-group-addon-click').click(function(){
               $(this).prev('input').focus();
            });
        });
    </script>
{% endblock %}