{% extends "FrontendBundle:Layouts:login.html.twig" %}

{% block content %}
    <div id="logo">
        <img src="{{ asset('bundles/frontend/img/logo.png') }}" alt="" />
    </div>
    <div id="loginbox">
        <form action="{{ path('register') }}" method="post" name="register">
     <p>{{"Register a user" | trans}}.</p>
            <div class="input-group input-sm">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'User email'}}) }}
            </div>
            <div class="input-group input-sm">
                {{ form_widget(form.company.name, {'attr': {'class': 'form-control', 'placeholder': 'Company name'}}) }}
            </div>
            <div class="input-group input-sm">
                {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="input-group input-sm">
                {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_rest(form) }}
            <div class="form-actions clearfix">
                <div class="pull-right">
                </div>
                <input type="submit" class="btn btn-block btn-primary btn-default" value="{{"Register" | trans}}" />
            </div>
        </form>
    </div>
{% endblock %}