<div id="header">
	<h1><a href="{{ path('home') }}">EasyScrumBO <span>Administración</span></a></h1>
	<a id="menu-trigger" href="#"><i class="fa fa-align-justify"></i></a>
</div>

<div id="user-nav">
    <ul class="btn-group">
        {#<li class="btn" ><a title="" href="#"><i class="fa fa-user"></i> <span class="text">Profile</span></a></li>#}
        <li class="btn dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="fa fa-envelope"></i> <span class="text">Mensajes</span> <b class="caret"></b></a>
            <ul class="dropdown-menu messages-menu">
                <li class="title"><i class="fa fa-envelope-alt"></i>Mensajes<a class="title-btn" href="{{ path('messages_list') }}" title="Write new message"><i class="fa fa-share"></i></a></li>
                {% for message in getLastMessages() %}
                    <li class="message-item">
                    	<a href="{{ path('messages_list') }}">
                    	    {% if message.user.profileImage is not null %}
                                {% set imagePath= message.user.profileImage.getWebFilePath %}
                                <img src="{{ asset(imagePath) | imagine_filter('nav') }}" alt="User Icon">
                            {% else %}
                                <img alt="User Icon" src="{{ asset('bundles/frontend/img/no_image.png') | imagine_filter('nav') }}" />
                            {% endif %}
                            <div class="message-content">
                            	<span class="message-time">
                                    {{ message.created|date() }}
                                </span>
                                <span class="message-sender">
                                    {{ message.user.name }}
                                </span>
                                <span class="message">
                                    {{ message.text }}
                                </span>
                            </div>
                    	</a>
                    </li>
                {% endfor %}    
            </ul>
        </li>
        <li class="btn"><a title="" href="{{ path('edit_profile') }}"><i class="fa fa-cog"></i> <span class="text">Settings</span></a></li>
        <li class="btn"><a title="" href="{{ path('logout') }}"><i class="fa fa-share"></i> <span class="text">Logout</span></a></li>
    </ul>
</div>
