{% extends "FrontendBundle:Layouts:login.html.twig" %}

{% block content %}
    <div id="loginbox">
      <form id="login" class="vertical" action="{{ path('login_check') }}" method="post">
          <h3 class="title">Easy<strong>Scrum</strong></h3>
          <p>{{"Introduce your user and password" | trans}}.</p>
          <div class="input-group input-sm">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input class="form-control" type="text" name="_username" id="USERNAME" placeholder="{{"Email" | trans}}" />
          </div>
          <div class="input-group input-sm">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" name="_password" id="PASSWORD" placeholder="{{"Password" | trans}}" />
          </div>
          <div class="input-group">
                <input type="checkbox" id="remember_me" name="_remember_me" checked="checked">
                    {{ "Remember me" | trans }}
          </div>          
          <div class="form-actions clearfix">
              <input type="submit" class="btn btn-block btn-primary btn-default" value="{{"Access" | trans}}" />
          </div>
      </form>
    </div>
{% endblock %}