{% set action = app.request.attributes.get('_route') %}
{% set params = app.request.attributes.get('_route_params') %}
<div id="sidebar">
	{#<div id="search">
		<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
	</div>#}
	<ul>
        <li class="{% if action == 'api_users_list' or action == 'new_normal_api_user' or action == 'edit_normal_api_user' or action == 'show_normal_api_user' %}active open{% endif %}">
            <a href="{{ path('api_users_list') }}"><i class="fa fa-user"></i> <span>{{ "Users"|trans }}</span></a>
        </li>
        <li class="{% if action == 'projects_list' or action == 'show_normal_project' or action == 'project_creation' or action == 'project_edit' %}active open{% endif %}">
            <a href="{{ path('projects_list') }}"><i class="fa fa-suitcase"></i> <span>{{ "Projects"|trans }}</span></a>
        </li>
        <li class="submenu {% if action == 'sprints_list' or action == 'sprint_creation_first' or action == 'sprint_planification' or action == 'show_normal_sprint' or action == 'grouped_sprint' %}open{% endif %}">
            <a href="#">
                <i class="fa fa-tasks"></i> <span>{{ "Sprints"|trans }}</span>
                <i class="arrow fa fa-chevron-right"></i>
            </a>
            <ul>
                <li {% if action == 'sprints_list' %}class="active"{% endif %}><a href="{{ path('sprints_list') }}">{{ "List"|trans }}</a></li>
                <li {% if action == 'grouped_sprint' %}class="active"{% endif %}><a href="{{ path('grouped_sprint') }}">{{ "Group sprints"|trans }}</a></li>
            </ul>
        </li>
        {% if is_granted('ROLE_SCRUM_MASTER') %}
            <li class="{% if action == 'task_facturation' %}active open{% endif %}">
                <a href="{{ path('task_facturation') }}"><i class="fa fa-euro"></i> <span>{{ "Invoices"|trans }}</span></a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SCRUM_MASTER') %}
            <li class="{% if action == 'calendar' %}active open{% endif %}">
                <a href="{{ path('calendar') }}"><i class="fa fa-calendar"></i> <span>{{ "Calendar"|trans }}</span></a>
            </li>
        {% endif %}
    </ul>
</div>
