{% set action = app.request.attributes.get('_route') %}
{% set params = app.request.attributes.get('_route_params') %}
<div id="sidebar">
	{#<div id="search">
		<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
	</div>#}
	<ul>
        <li class="submenu {%  if action == 'api_users_list' or action == 'new_normal_api_user' or action == 'edit_normal_api_user' or action == 'show_normal_api_user' %}active open{% endif %}">
            <a href="#"><i class="fa fa-user"></i> <span>{{ "Users"|trans }}</span> <i class="arrow fa fa-chevron-right"></i></a>
            <ul>
                <li {% if action == 'api_users_list' %}class="active"{% endif %}><a href="{{ path('api_users_list') }}">{{ "List"|trans }}</a></li>
                {% if is_granted('ROLE_SCRUM_MASTER') %}
                    <li {% if action == 'new_normal_api_user' %}class="active"{% endif %}><a href="{{ path('new_normal_api_user') }}">{{ "New user"|trans }}</a></li>
                {% endif %}
            </ul>
        </li>
        <li class="submenu {%  if action == 'projects_list' or action == 'show_normal_project' or action == 'project_creation' or action == 'project_edit' %}active open{% endif %}">
            <a href="#"><i class="fa fa-suitcase"></i> <span>{{ "Projects"|trans }}</span> <i class="arrow fa fa-chevron-right"></i></a>
            <ul>
                <li {% if action == 'projects_list' %}class="active"{% endif %}><a href="{{ path('projects_list') }}">{{ "List"|trans }}</a></li>
                {% if is_granted('ROLE_SCRUM_MASTER') or is_granted('ROLE_PRODUCT_OWNER') %}    
                    <li {% if action == 'project_creation' %}class="active"{% endif %}><a href="{{ path('project_creation') }}">{{ "New project"|trans }}</a></li>
                {% endif %}
            </ul>
        </li>
        <li class="submenu {%  if action == 'sprints_list' or action == 'sprint_creation_first' or action == 'sprint_planification' or action == 'show_normal_sprint' %}active open{% endif %}">
            <a href="#"><i class="fa fa-tasks"></i> <span>{{ "Sprints"|trans }}</span> <i class="arrow fa fa-chevron-right"></i></a>
            <ul>
                <li {% if action == 'sprints_list' %}class="active"{% endif %}><a href="{{ path('sprints_list') }}">{{ "List"|trans }}</a></li>
                {% if is_granted('ROLE_SCRUM_MASTER') %}    
                    <li {% if action == 'sprint_creation_first' %}class="active"{% endif %}><a href="{{ path('sprint_creation_first') }}">{{ "New sprint"|trans }}</a></li>
                {% endif %}
            </ul>
        </li>
        {% if is_granted('ROLE_SCRUM_MASTER') %}
            <li class="{%  if action == 'task_facturation' %}active open{% endif %}">
                <a href="{{ path('task_facturation') }}"><i class="fa fa-euro"></i> <span>{{ "Facturation"|trans }}</span></a>
            </li>
        {% endif %}
    </ul>
</div>
