<li id="{% if issue is defined %}issue-{{ task.id }}{% else%}{{ task.id }}{% endif %}">
	<div class="backlog-priority">
	    <h2 title="priority">{{ task.priority }}</h2>
	</div>
	<div class="backlog-data">
		<span class="user-info">{% if issue is defined %}Issue from task: {{ task.title }}, {% endif %}{{ task.updated | date }}</span>
		<h4>{{ task.title }}</h4>
		<p>
			{{ task.description }}
		</p>
		{% if is_granted('ROLE_SCRUM_MASTER') or (is_granted('ROLE_PRODUCT_OWNER') and app.user.isEqualTo(task.project.owner)) %}
			{% if issue is not defined %}
			    <a title="Add issue" href="{{ path('create_issue', { 'id': task.id }) }}" class="btn btn-warning btn-xs">Add issue</a>
        		<a title="Edit" href="{{ path('edit_backlog', { 'id': task.id }) }}" class="btn btn-primary btn-xs">Edit</a>
        		<a title="Delete" href="{{ path('delete_backlog', { 'id': task.id }) }}" class="btn btn-danger btn-xs">Delete</a>
			{% else %}
			    <a title="Edit" href="{{ path('edit_issue', { 'id': issue.id }) }}" class="btn btn-primary btn-xs">Edit</a>
			{% endif %}
	    {% endif %}
		
	</div>
</li>