{% for message in messages %}
    <div id="{{ message.id }}" class="message clearfix {% if app.user.isEqualTo(message.user) %}right{% else %}left{% endif %}">
        <div class="photo visible-desktop">
            {% if message.user.profileImage is not null %}
                {% set imagePath= message.user.profileImage.getWebFilePath %}
                <img src="{{ asset(imagePath) | imagine_filter('nav') }}" alt="User Icon">
            {% else %}
                <img alt="User Icon" src="{{ asset('bundles/frontend/img/no_image.png') | imagine_filter('nav') }}" />
            {% endif %}
        </div>
        <div class="date">{{ message.user.name ~ " " ~ message.user.lastName }}</div>
        <div class="date">{{ message.created | date('d/m/Y H:i') }}</div>
        <div class="text">
            <i class="icon-caret-{% if app.user.isEqualTo(message.user) %}right{% else %}left{% endif %}"></i>
            {{ message.text }}
        </div>
    </div>
{% endfor %}