{% extends "FrontendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
	Home dashboard
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/jquery.gritter.css') }}" />
{% endblock %}

{% block buttons_section %}
    {% if is_granted('ROLE_SCRUM_MASTER') or is_granted('ROLE_PRODUCT_OWNER') %}
        <div class="btn-group">
            <a title="" data-original-title="{{ "Show notifications" | trans }}" href="#" class="btn btn-large tip-bottom notifications">
                <i class="fa fa-bell"></i>
                {% set notifications = 0 %}
                {% for sprint in sprints %}
                    {% set notifications = notifications + sprint.getSprintNotifications| length %}
                {% endfor %}
                <span class="label label-danger">{% if app.user.notification and notifications > 0 %}{{ notifications }}{% endif %}</span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
  {% set crumbs = {'Home dashboard':'#'} %}
  {{ setCrumbs(crumbs) }}
  {{ parent() }}
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_SCRUM_MASTER') and actions | length > 0 %}
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-refresh"></i>
                    </span>
                    <h5>Latest actions</h5>
                </div>
                <div class="widget-content nopadding updates">
                    {% for action in actions %}
                        <div class="new-update clearfix">
                            <i class="fa {{ action.getIcon }}"></i>
                                <div class="update-done">
                                {% if action.task is defined %}
                                    <a href="{{ path('show_normal_sprint', {id: action.task.sprint.id}) }}" title="">
                                        <strong>{{ action.getTitleText }}.</strong> By user {{ action.user }}
                                    </a>
                                    <span>{{ action.getDescriptionText | replace({'%t%': action.task.title, '%s%': action.task.sprint.title}) }}</span>
                                {% elseif action.sprint is defined %}    
                                    <a href="{{ path('show_normal_sprint', {id: action.sprint.id}) }}" title="">
                                        <strong>{{ action.getTitleText }}.</strong> By user {{ action.user }}
                                    </a>
                                    <span>{{ action.getDescriptionText | replace({'%s%': action.sprint.title}) }}</span>
                                {% elseif action.project is defined %}
                                    <a href="{{ path('show_normal_project', {id: action.project.id}) }}" title="">
                                        <strong>{{ action.getTitleText }}.</strong> By user {{ action.user }}
                                    </a>
                                    <span>{{ action.getDescriptionText | replace({'%p%': action.project.title}) }}</span>
                                {% elseif action.backlog is defined %}
                                    <a href="{{ path('show_normal_project', {id: action.backlog.project.id}) }}" title="">
                                        <strong>{{ action.getTitleText }}.</strong> By user {{ action.user }}
                                    </a>
                                    <span>{{ action.getDescriptionText | replace({'%p%': action.backlog.project.title, '%b%': action.backlog.title}) }}</span>    
                                {% elseif action.urgency is defined %}
                                    <a href="#" title="">
                                        <strong>{{ action.getTitleText }}.</strong> By user {{ action.user }}
                                    </a>
                                    <span>{{ action.getDescriptionText | replace({'%u%': action.urgency.title}) }}</span> 
                                {% else %}
                                    <a href="#" title="">
                                        <strong>{{ action.getTitleText }}</strong>
                                    </a>
                                {% endif %}
                                </div>
                            <div class="update-date">
                            <span class="update-day">{{ action.created | date('d') }}</span>
                                {{ action.created | date('M') }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="new-update clearfix viewall">
                        <a href="{{ path('actions') }}"> + View all + </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% for sprint in sprints if sprint.userCanSeeProject(app.user) %}
        <div class="col-xs-12">
        	<div class="widget-box">
        		<div class="widget-title">
        			<span class="icon">
        				<i class="fa fa-th"></i>
        			</span>
        			<div>
            			<a href="{{ path('show_normal_sprint', {id: sprint.id}) }}"><h5>{{ sprint.title }}</h5></a>
            			<a href="{{ path('show_normal_project', {id: sprint.project.id}) }}"><h5> ({{ sprint.project.title }})</h5></a>
        			</div>
        		</div>
        		<div class="widget-content">
        			<div class="row">
        				<div class="col-xs-12 col-sm-4">
        					<ul class="site-stats">
        						<li><div class="cc"><i class="fa fa-tasks"></i> <strong>{{ sprint.tasks.count() }}</strong> <small>Tasks planified</small></div></li>
        						<li><div class="cc"><i class="fa fa-arrow-right"></i> <strong>{{ sprint.getTaskDone() | length }}</strong> <small>Tasks done</small></div></li>
        						<li class="divider"></li>
        						<li><div class="cc"><i class="fa fa-calendar"></i> <strong>{{ sprint.hoursPlanified }}</strong> <small>Planified Hours</small></div></li>
        						<li><div class="cc"><i class="fa fa-clock-o"></i> <strong>{{ sprint.getSpentHours() }}</strong> <small>Spent hours</small></div></li>
        						<li><div class="cc"><i class="fa fa-fire"></i> <strong>{{ sprint.getHoursUndone() }}</strong> <small>Hours left</small></div></li>
        					</ul>
        				</div>
        				<div class="col-xs-12 col-sm-8">
        					<div class="chart" id="chart-{{ sprint.id }}"></div>
        				</div>	
        			</div>							
        		</div>
        	</div>
    	</div>
    {% else %}
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="alert alert-info mt">
                <strong>{{"Information!" | trans }}</strong>
                {{"No sprints active in this moment" | trans }}
            </div>
        </div>
	{% endfor %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.categories.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.time.js"></script>
<script src="{{ asset('bundles/frontend/js/jquery.gritter.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
    	{% if app.user.notification %}
        	{% for sprint in sprints if sprint.userCanSeeProject(app.user) %}
        	    {% for key, notification in sprint.getSprintNotifications %}
                	$.gritter.add({
                		title:	'{{ key }}',
                		text:	'{{ notification }}',
                		sticky: false
                	});
            	{% endfor %}
        	{% endfor %}
    	{% endif %}

    	$('.notifications').click(function(event){
        	event.preventDefault();
    		{% if app.user.notification %}
            	{% for sprint in sprints %}
            	    {% for key, notification in sprint.getSprintNotifications %}
                    	$.gritter.add({
                    		title:	'{{ key }}',
                    		text:	'{{ notification }}',
                    		sticky: false
                    	});
                	{% endfor %}
            	{% endfor %}
        	{% endif %}	
    	});
        
    	{% for sprint in sprints if sprint.userCanSeeProject(app.user) %}
    	    {% set chartHours = sprint.getChartHoursArray() %}
            var plot = $.plot($("#chart-{{ sprint.id }}"),
        		[ { data: [{% for key, value in sprint.getChartArray() %}["{{ key }}", {{ value }}]{% if not loop.last %},{% endif %}{% endfor %}], label: "Normal progression", color: "#4fabd2"}
        		 , { data: [{% for key, value in chartHours %}["{{ key }}", {{ value }}]{% if not loop.last %},{% endif %}{% endfor %}], label: "Actual state", color: "#459D1C"}], {
        		series: {
            		lines: { show: true },
            		points: { show: true }
        		},
        		grid: { hoverable: true, clickable: true, borderColor: "#eeeeee", borderWidth: 1, color: "#AAAAAA" },
        		xaxis: {
        			mode: "time",
        			timeformat: "%Y/%m/%d",
        			minTickSize: [1, "day"],
        			tickLength: 10
        		}
        	}); 
        {% endfor %}
        
    });
</script>    
{% endblock %}
    